*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.container{
    margin: 1rem;
    text-align: center;
}

.nav{
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    margin: 1rem 0;
}

.site-title{
    font-size: 2rem;
}

.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a{
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li:active{
    color: #555;
}

.nav li:hover{
    color: #777;
}

.main{
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.text-container{
    float: left;
    clear: left;
    width: 20%;
    margin-left: 5rem;
    text-align: left;
}


.img-main{
    width: 60%;
    position: absolute;
    right: 0;
}
.img-sec{
    width: 50%;
    position: absolute;
    right: 0;
    top: 10rem;
    left: 200px;
}

.img-tre{
    width: 35%;
    position: absolute;
    right: 0;
    top: 19rem;
    left: 5rem;
}